/* Dashboard Container */
.dashboard-container {
  display: flex;
  flex-direction: row;
}

/* Sidebar */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}
/* General card styles */
.dashboard-card {
  border: none;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid black;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Dashboard Content */
.dashboard-content {
  margin-left: 250px; /* Offset content to the right of the sidebar */
  width: calc(100% - 250px);
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 250px;
    transform: translateX(-100%);
    position: fixed;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-toggle-btn {
    display: block;
  }

  .sidebar-header {
    font-size:22px;
  }
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .sidebar {
    width: 80%;
    position: absolute;
    z-index: 1050;
    left: -100%;
    transition: left 0.3s ease-in-out;
  }

  .sidebar.active {
    left: 0;
  }

  .dashboard-content {
    margin-left: 0;
    width: 100%;
  }
}
